h1{
    color:white;
    text-align: center;
    font-size: 58px;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 50px;
    color:white;
}
.bangladesh{
    color:white;
    font-family: cursive;

}
.top-side{
    display: flex;
}
.down-ward img{
    width: 600px;
    height: 270px;
}
.half-width{
    width:50%;
    padding-left: 2%;
}
h3{
    color:white;
    font-family: cursive;
    text-align: justify;
}
.flexible-container{
    display: flex;
}
p{
    color:white;
    font-family: cursive;
}
.parent{
    display:flex;
    margin-bottom: 150px;
}
.city{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow:10px 10px 40px turquoise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link-button{
    background-color:turquoise;
    text-decoration: none;
    padding:8px 15px;
    border:none;
    border-radius: 5px;
    background-image: linear-gradient(45deg,white,turquoise,white);
    height: 30px;
    width: 100px;
    
}